.selectionLink2 {
    background: rgba(251,167,13,0.3)!important;
}

.selectionLink {
    background: rgba(0,167,13,0.3)!important;
}

.CodeMirror-linkedLines {
    width: 40px;
    height: 15px;
    background: rgba(251,167,13,0.3);
}

#hightlightTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    height: 50px;
    background: -webkit-linear-gradient(top, rgba(251,167,13,0.65) 0%,rgba(255,255,255,0) 100%); 
}

#hightlightBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    height: 50px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(251,167,13,0.65) 100%);
}

#myPanel {
    background: white;
    position: absolute;
    top: 38px;
    right: 0;
    margin-bottom: 20px;
    border-left: 1px solid #e8e8e8;
    height: 100%;
    overflow: scroll;
}

#missionControl {
    background: rgba(255,255,255,0.85);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 210;
    display: none;
}

#missionControl .controls {
    position: absolute;
    bottom: 15px;
    z-index: 22;
}

#missionControl .left {
    left: 12px; 
}

#missionControl .right {
    right: 12px;
}

#missionControl .controls a {
    width: 48px;
    height: 48px;
    display: block;
    float: left;
}

#missionControl .controls a.add {
    background: transparent url('../img/add.png') bottom right no-repeat;
}

#missionControl .controls a.zoomin {
    background: transparent url('../img/zoomin.png') bottom right no-repeat;
}

#missionControl .controls a.zoomout {
    background: transparent url('../img/zoomout.png') bottom right no-repeat;
}

.overlay {
    display: block;
    z-index: 1;
    background: transparent;
    overflow: hidden;
    width: 1500px;
}

.sketching-tools {
    display: none;
}

.simple_sketch {
    position: absolute;
}
.tools {
    position: fixed;
    top: 35px;
    right: 0;
    width: 50px;
    z-index: 10;
    background-color: #46494B;
    font-weight: normal;
    font-size: 13px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: SourceSansPro, Helvetica, Arial, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    letter-spacing: .01em;
}
.tools a {
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #bbb;
    line-height: 20px;
}
.tools a.undo {
    height: 20px;
    width: 20px;
    margin: 10px 15px;
    background: transparent url('../img/undo.png') center no-repeat;
}

.tools a.eraser {
    height: 25px;
    margin: 5px 10px;
    width: 25px;
    border-radius: 20px;
    border: 2px solid #36393A;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
    background: transparent url('../img/eraser-transparent.png') center right no-repeat;
}
.tools a.eraser.selected {
    border: 2px solid #eee;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.tools a.button, .tools a.edit, .tools a.size {
    height: 20px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    width: 100%;
}
.tools a.edit.selected, .tools a.size.selected, .tools a.asyncScrolling.selected, .tools a.button:active, .tools a.sketch-layer.selected {
    background-color: #36393A;
    border-bottom: 1px solid #525657;
    border-top: 1px solid #2C2E2F;
    color: white;
}
.tools a.color {
    height: 25px;
    margin: 5px 10px;
    width: 25px;
    border-radius: 20px;
    border: 2px solid #36393A;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.tools a.color.selected {
    border: 2px solid #eee;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.tools .seperator {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 20px;
    color: #878787;
}
#toggle-sketching {
    float: left;
    height: 20px;
    width: 20px;
}
.back-transparent {
    background-color: transparent;
}

#status-bar {
    z-index: 35;
}